student['']

In [17]:
import pandas as pd 
filepath = 'C:/Users/linab/bootcamp/UCI-VIRT-DATA-PT-03-2022-U-LOL/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv'
filepath2 ='C:/Users/linab/bootcamp/UCI-VIRT-DATA-PT-03-2022-U-LOL/02-Homework/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv'
school = pd.read_csv(filepath)
student = pd.read_csv(filepath2)

merge= pd.merge(student, school, how="left", on=["school_name", "school_name"])
merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
merge.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [24]:
school_group = merge.groupby('school_name')
merge['budgeteach'] = merge
schoolavgsc = pd.DataFrame(school_group[["reading_score", "math_score"]].mean())
schoolavgsc

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

In [37]:
#mathrate = pd.DataFrame(school_group['math_score']>=70]/school_group['size'])
totalstudent = merge['Student ID'].nunique()
merge['Mathrate'] = merge.loc[merge['math_score']>=70].shape[0]/totalstudent*100
merge['Readrate']=merge.loc[merge['reading_score']>=70].shape[0]/totalstudent*100
merge['bothPassRate'] = merge.loc[(merge['reading_score']>=70) & (merge['math_score']>=70)].shape[0]/totalstudent
merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Mathrate,Readrate,bothPassRate
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,74.980853,85.805463,0.651723
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,74.980853,85.805463,0.651723
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,74.980853,85.805463,0.651723
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,74.980853,85.805463,0.651723
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,74.980853,85.805463,0.651723